<body>
  <h2>CSS SUPER WARS</h2>
  <div class="main-grid">
    <div id="heros">
      <!-- <div class="sub-grid">
                <img src="../../assets/super-1.png" alt="super-1">
                <h4>Spiderman</h4>
                <h3>12</h3>
            </div>
            <div class="sub-grid">
                <img src="../../assets/super-4.png" alt="super-3">
                <h4>Wonder Woman</h4>
                <h3>30</h3>
            </div> -->
      <div class="sub-grid">
        <img src="../../assets/super-3.png" alt="super-3">
        <h4>Super woman</h4>
        <h3>12</h3>
      </div>
      <div class="sub-grid">
        <img src="../../assets/super-7.png" alt="super-3">
        <h4>Brave Woman</h4>
        <h3>30</h3>
      </div>

    </div>
    <div id="scores">
      <h1>5-0</h1>
    </div>
    <div id="villans">
      <div class="sub-grid">
        <img src="../../assets/super-7.png" alt="super-2">
        <h4>Captain America</h4>
        <h3>50</h3>
      </div>
      <div class="sub-grid">
        <img src="../../assets/super-8.png" alt="super-4">
        <h4>Matilda</h4>
        <h3>12</h3>
      </div>

      <!-- <div class="sub-grid">
                <img src="../../assets/super-19.png" alt="super-19">
                <h4>Wasp</h4>
                <h3>12</h3>
            </div>
            <div class="sub-grid">
                <img src="../../assets/super-15.png" alt="super-15">
                <h4>Black Panther</h4>
                <h3>30</h3>
            </div> -->
    </div>
  </div>
</body>
